<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="card.css">
    <title>Document</title>
  </head>
  <body>
    <h1>Create your DevCard</h1>
    <form>
      <input type="text" id="name" name="name" value="Your Full Name"></br>
      <input type="text" id="about" name="about" value="About Me"></br>
      <div>
        <p>Technologies you Know:</p>
        <input type="checkbox" id="HTML" name="HTML" value="HTML">
        <label>HTML</label>
        <input type="checkbox" id="CSS" name="CSS" value="CSS">
        <label>CSS</label></br>
        <input type="checkbox" id="JS" name="JS" value="JS">
        <label>JS</label>
        <input type="checkbox" id="Git" name="Git" value="Git">
        <label>Git</label></br>
        <input type="checkbox" id="React" name="React" value="React">
        <label>React</label>
        <input type="checkbox" id="Node.js" name="Node.js" value="Node.js">
        <label>Node.js</label></br>
      </div>
      <input type="text" id="name" name="name" value="Github URL"></br>
      <input type="text" id="name" name="name" value="Twitter URL"></br>
      <input type="text" id="name" name="name" value="Favourite Books (Separate by comma)"></br>
      <input type="text" id="name" name="name" value="Favourite Artists (Separate by comma)"></br>
      <button type="submit" formmethod="post">Create Site</button>
    </form>
  </body>
</html>
